// font family variables
$ff--body     = 'Roboto', sans-serif
$ff--ui = 'Roboto Condensed', sans-serif
$ff--heading  = 'Roboto', sans-serif
$ff--mono  = 'Roboto Mono', monospace

    // font-family: 'Roboto', sans-serif;

    // font-family: 'Roboto Condensed', sans-serif;

    // font-family: 'Roboto Mono', monospace;

// font-size variables
$ratio--sml = 1.125
$ratio--med = 1.18
$ratio--lrg = 1.24

$fz--base = 1rem

// font-weight variables
$fw--normal  = normal
$fw--heading = normal

// line height variables
$lh--heading = 1.5
$lh--body    = 1.618

// line-length variable, edit this to suit the typeface chosen.
// the line-length of heading elements will operate on this value
$ll = 60

// letter-spacing variable, edit this to suit the typeface chosen
$ls = -0.05em
