.global_footer
    width 100%

    &__inner
        contain()
        padding $sp 0

        nav
            display flex
            width 100%
            justify-content space-between

        ul
            display flex

        li
            padding 0 $sp--half

        a
            color $cl--faded
