.global_header
    width 100%

    &__inner
        contain()
        flex-direction column
        border-bottom 1px solid white

        nav
            padding-bottom $sp--half

        ul
            display flex

        li
            padding-right $sp
            font-family $ff--ui
            font-size var(--fz--h4)

            a.active
                font-weight 700
                text-decoration underline
