<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#8aa29b">
    <title>@@page_title • Site Title Here</title>
    <meta name="description" content="Page Description Here">
    <link rel="shortcut icon" href="@@baseurl/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="@@baseurl/assets/css/app.min.css">
</head>
