// you'll find an explanation for using these mixins in the documentation.
// the intention is for you not to edit this file; if you want to edit the size of
// your h1 element, for example, edit the type scaling ratio instead.
h1()
    font-size ($fz--base * $ratio--sml ** 4)
    font-size var(--fz--h1)
    +above(3)
        font-size ($fz--base * $ratio--med ** 4)
        font-size var(--fz--h1)
    +above(6)
        font-size ($fz--base * $ratio--lrg ** 4)
        font-size var(--fz--h1)

h2()
    font-size ($fz--base * $ratio--sml ** 3)
    font-size var(--fz--h2)
    +above(3)
        font-size ($fz--base * $ratio--med ** 3)
        font-size var(--fz--h2)
    +above(6)
        font-size ($fz--base * $ratio--lrg ** 3)
        font-size var(--fz--h2)

h3()
    font-size ($fz--base * $ratio--sml ** 2)
    font-size var(--fz--h3)
    +above(3)
        font-size ($fz--base * $ratio--med ** 2)
        font-size var(--fz--h3)
    +above(6)
        font-size ($fz--base * $ratio--lrg ** 2)
        font-size var(--fz--h3)

h4()
    font-size ($fz--base * $ratio--sml)
    font-size var(--fz--h4)
    +above(3)
        font-size ($fz--base * $ratio--med)
        font-size var(--fz--h4)
    +above(6)
        font-size ($fz--base * $ratio--lrg)
        font-size var(--fz--h4)

sub()
    font-size ($fz--base / $ratio--sml)
    font-size var(--fz--sub)
    +above(3)
        font-size ($fz--base / $ratio--med)
        font-size var(--fz--sub)
    +above(6)
        font-size ($fz--base / $ratio--lrg)
        font-size var(--fz--sub)

supersub()
    font-size ($fz--base / $ratio--sml ** 2)
    font-size var(--fz--supersub)
    +above(3)
        font-size ($fz--base / $ratio--med ** 2)
        font-size var(--fz--supersub)
    +above(6)
        font-size ($fz--base / $ratio--lrg ** 2)
        font-size var(--fz--supersub)
